body{
  background-color: #a6b1e1;
}
h1
{
  color: #363062;
}
h3
{
  color: #639a67;
}
h4
{
  padding-right: 10px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  color: #d8ebb5;
  width: 10%;
}
/*********************Classes************************/
.CenterBullets
{
  align-items: baseline;
  max-width:10%;
  margin:auto;
  text-align:center;
  border: 2px solid #ecfbfc;
  border-radius: 25%;
  background-color: #ff6464;
}
.Alignment
{
  text-align: justify;
}
.CenterHeadings
{
  text-align: center;
}
.InitialCenterHeadings
{
  text-align: center;
  text-shadow: 2px 2px #0f4c75;
  text-decoration-style: solid;
  color: #f4eec7;
}
table
{
  border: 2px solid #ecfbfc;
  background-color: #a8e6cf;
  border-radius: 25%;
}
td:hover
{
  background-color: #e8f9e9;
  padding: 2px;
}
.initial
{
  border-radius: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ParaPadding
{
  padding-left: 20;
  margin: 0 5em;
}
